<p id="notice"><%= notice %></p>

<h1>Forecasts</h1>
<p>
  <b>Numbers in the Forecast column represent the forecasted attendance for the next
    class for the day and time.</b>
</p>
<table id="members">
  <tr>
    <th class="bigheader" colspan="2">Monday</th>
    <th class="bigheader" colspan="2">Tuesday</th>
    <th class="bigheader" colspan="2">Wednesday</th>
    <th class="bigheader" colspan="2">Thursday</th>
    <th class="bigheader" colspan="2">Friday</th>
    <th class="bigheader" colspan="2">Saturday</th>
  </tr>
  <tr>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
    <th class="smallheader">Class</th>
    <th class="smallheader">Forecast</th>
  </tr>



  <tr>
    <td><%= @m_classes[0].just_time %></td>
    <td><%= @m_classes[0].forecasted %></td>
    <td><%= @tu_classes[0].just_time %></td>
    <td><%= @tu_classes[0].forecasted %></td>
    <td><%= @w_classes[0].just_time %></td>
    <td><%= @w_classes[0].forecasted %></td>
    <td><%= @th_classes[0].just_time %></td>
    <td><%= @th_classes[0].forecasted %></td>
    <td><%= @f_classes[0].just_time %></td>
    <td><%= @f_classes[0].forecasted %></td>
    <td><%= @s_classes[0].just_time %></td>
    <td><%= @s_classes[0].forecasted %></td>
  </tr>
    <td><%= @m_classes[1].just_time %></td>
    <td><%= @m_classes[1].forecasted %></td>
    <td><%= @tu_classes[1].just_time %></td>
    <td><%= @tu_classes[1].forecasted %></td>
    <td><%= @w_classes[1].just_time %></td>
    <td><%= @w_classes[1].forecasted %></td>
    <td><%= @th_classes[1].just_time %></td>
    <td><%= @th_classes[1].forecasted %></td>
    <td><%= @f_classes[1].just_time %></td>
    <td><%= @f_classes[1].forecasted %></td>
    <td><%= @s_classes[1].just_time %></td>
    <td><%= @s_classes[1].forecasted %></td>
  <tr>
    <td><%= @m_classes[2].just_time %></td>
    <td><%= @m_classes[2].forecasted %></td>
    <td><%= @tu_classes[2].just_time %></td>
    <td><%= @tu_classes[2].forecasted %></td>
    <td><%= @w_classes[2].just_time %></td>
    <td><%= @w_classes[2].forecasted %></td>
    <td><%= @th_classes[2].just_time %></td>
    <td><%= @th_classes[2].forecasted %></td>
    <td><%= @f_classes[2].just_time %></td>
    <td><%= @f_classes[2].forecasted %></td>
    <td><%= @s_classes[2].just_time %></td>
    <td><%= @s_classes[2].forecasted %></td>
  </tr>
  <tr>
    <td><%= @m_classes[3].just_time %></td>
    <td><%= @m_classes[3].forecasted %></td>
    <td><%= @tu_classes[3].just_time %></td>
    <td><%= @tu_classes[3].forecasted %></td>
    <td><%= @w_classes[3].just_time %></td>
    <td><%= @w_classes[3].forecasted %></td>
    <td><%= @th_classes[3].just_time %></td>
    <td><%= @th_classes[3].forecasted %></td>
    <td><%= @f_classes[3].just_time %></td>
    <td><%= @f_classes[3].forecasted %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @m_classes[4].just_time %></td>
    <td><%= @m_classes[4].forecasted %></td>
    <td><%= @tu_classes[4].just_time %></td>
    <td><%= @tu_classes[4].forecasted %></td>
    <td><%= @w_classes[4].just_time %></td>
    <td><%= @w_classes[4].forecasted %></td>
    <td><%= @th_classes[4].just_time %></td>
    <td><%= @th_classes[4].forecasted %></td>
    <td><%= @f_classes[4].just_time %></td>
    <td><%= @f_classes[4].forecasted %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @m_classes[5].just_time %></td>
    <td><%= @m_classes[5].forecasted %></td>
    <td><%= @tu_classes[5].just_time %></td>
    <td><%= @tu_classes[5].forecasted %></td>
    <td><%= @w_classes[5].just_time %></td>
    <td><%= @w_classes[5].forecasted %></td>
    <td><%= @th_classes[5].just_time %></td>
    <td><%= @th_classes[5].forecasted %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>

  </tr>
</table>