<p id="notice"><%= notice %></p>
<h1>Call</h1>

<fieldset class="show_call_fieldset">

<p>
  <strong>Member:</strong>
  <%= @call.member.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @call.employee.fname %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @call.outcome %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @call.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @call.completed %>
</p>
  <br>

<%= link_to '<button id="new"> Edit </button>'.html_safe, edit_call_path(@call) %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>'.html_safe, dashboard_index_path %>
</fieldset>
